apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: mern-stack
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: sanchit021/backend:d3ec1e1249cf1eabfcf2794126abedc818362744
          resources:
            limits:
              memory: 128Mi
              cpu: 500m
            requests:
              memory: 128Mi
              cpu: 500m
          ports:
            - containerPort: 3500
