apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  namespace: mern-stack
spec:
  serviceName: mongodb-headless
  replicas: 3
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:4.4.6
        command:
          - numactl
          - --interleave=all
          - mongod
          - --replSet
          - rs0
          - --wiredTigerCacheSizeGB
          - "0.1"
          - --bind_ip_all
        ports:
          - containerPort: 27017
            name: mongodb
        env:
          - name: MONGO_INITDB_ROOT_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongo-sec
                key: mongodb-root-username
          - name: MONGO_INITDB_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongo-sec
                key: mongodb-root-password
        volumeMounts:
          - name: mongo-storage
            mountPath: /data/db
        resources:
          requests:
            cpu: "500m"
            memory: "512Mi"
          limits:
            cpu: "1"
            memory: "1Gi"
        livenessProbe:
          exec:
            command:
              - mongo
              - -u
              - admin
              - -p
              - password123
              - --authenticationDatabase
              - admin
              - --eval
              - db.adminCommand('ping')
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
              - mongo
              - -u
              - admin
              - -p
              - password123
              - --authenticationDatabase
              - admin
              - --eval
              - db.adminCommand('ping')
          initialDelaySeconds: 10
          periodSeconds: 10
  volumeClaimTemplates:
  - metadata:
      name: mongo-storage
    spec:
      accessModes:
        - ReadWriteOnce
      storageClassName: gp3
      resources:
        requests:
          storage: 10Gi
