apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: mern-stack
spec:
  replicas: 3      
  strategy:         # strategy used 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: sanchit021/frontend:996d87e15c5c0f2aa4f968de32f51aa7e4ba8f46
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "256Mi"
              cpu: "750m"
            requests:
                memory: "128Mi"
                cpu: "500m"


        
