apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: mern-stack
spec:
  replicas: 3      
  strategy:         # strategy used 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: sanchit021/frontend:d3ec1e1249cf1eabfcf2794126abedc818362744
          ports:
            - containerPort: 3000
          resources:
            limits:
              memory: "256Mi"
              cpu: "750m"
            requests:
                memory: "128Mi"
                cpu: "500m"


        
