name: "backend-pipeline"
on:
    push:
        paths:
            - 'Application-Code/backend/**'
            - '.github/workflows/backend.yml'
        branches:
            - main
      
    pull_request:
        types: [opened, synchronize, reopened]
permissions:
    id-token: write
    contents: write
jobs:
    sonarqube:
        name: SonarQube
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4
            with:
                fetch-depth: 0 
          - name: SonarQube Scan
            uses: SonarSource/sonarqube-scan-action@v6
            env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    docker: 
         runs-on: ubuntu-latest
         needs: sonarqube
         steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
            -  name: Set up QEMU
               uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Build
              uses: docker/build-push-action@v6
              with:
                    context: Application-Code/backend
                    push: false
                    tags: |
                        ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}
                        ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest
                    outputs: type=docker,dest=${{runner.temp}}/backend-image.tar

            - name: upload image as artifact
              uses: actions/upload-artifact@v6
              with:
                  name: backend-docker-image
                  path: ${{runner.temp}}/backend-image.tar
                  retention-days: 1
    push: 
        runs-on: ubuntu-latest
        needs: docker
        steps:
            - name: download artifact
              uses: actions/download-artifact@v6
              with:
                name: backend-docker-image
                path: ${{ runner.temp }}
                
            - name: Trivy Scan
              uses:  aquasecurity/trivy-action@0.33.1
              with:
                    input: ${{ runner.temp }}/backend-image.tar
                    format: 'table'
                    exit-code: '0'
                    vuln-type: 'os,library'
                    severity: 'CRITICAL,HIGH'
                    ignore-unfixed: true
                    output: ${{runner.temp}}/trivy-report.txt
            - name: Upload Trivy report
              uses: actions/upload-artifact@v6
              with:
                 name: backend-trivy-report
                 path: ${{runner.temp}}/trivy-report.txt
                 retention-days: 2
            - name: Load Docker Image
              run: |
                  docker load -i ${{ runner.temp }}/backend-image.tar
            - name: Login to DockerHub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
            - name: Push to DockerHub
              run: |
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend:${{ github.sha }}
                docker push ${{ secrets.DOCKERHUB_USERNAME }}/backend:latest
    update-k8s:
        runs-on: ubuntu-latest
        needs: push
        concurrency:
          group: k8-manifest-update
          cancel-in-progress: false
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: update the backend k8 image tag
              run: |
                git config --global user.name "github-actions"
                git config --global user.email "github-actions@github.com"
                git pull --rebase origin main
                sed -i 's|image: .*|image: '"${{ secrets.DOCKERHUB_USERNAME }}"'/backend:'"${{ github.sha }}"'|g' kubernetes/backend/deployment.yml
                git add kubernetes/backend/deployment.yml
                git commit -m "Update backend image to ${{ github.sha }} [skip ci]"
                git push